<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Used to analyze system audio from BlackHole</string>
	<key>CFBundleIconFile</key>
	<string>Mac4Mac</string><key>NSLocalNetworkUsageDescription</key>
    <string>Mac4Mac creates a local server to share music information with your iOS devices</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_mac4mac._tcp</string>
        <string>_http._tcp</string>
    </array>
</dict>
</plist>
